<div class="row">
  <div class="col-12 pt-4 pb-3">
    <% if account_signed_in? %>
      <%= link_to 'Sign out', destroy_account_session_path, method: :delete, class: 'float-right text-dark ml-4' %>
    <% else %>
      <%= link_to 'Sign in', new_account_session_path, class: 'float-right text-dark ml-4' %>
      <%= link_to 'New account', new_account_registration_path, class: 'float-right text-dark ml-4' %>
    <% end %>

    <%= link_to 'Dashboard', dashboard_path, class: 'float-right text-dark ml-4' if account_signed_in? %>

    <%= link_to 'Home', root_path %> >>

    <% if @post.present? && !@post.new_record?
      category = @post.category
      parent = category.parent
    %>
      <% if parent.present? %>
        <%= link_to parent.name, category_path(parent) %> >>
      <% end %>

      <%= link_to category.name, category_path(category) %> >>
      <%= @post.title %>
    <% elsif @category.present?
      parent = @category.parent
    %>
      <% if parent.present? %>
        <%= link_to parent.name, category_path(parent) %> >>
      <% end %>
      <%= @category.name %>
    <% end %>
  </div>
</div>
